<div class="login-container d-flex justify-content-center align-items-center">

  <div class="login-card p-4">

    <h2 class="text-center mb-4"> Welcome Back 👋</h2>

    <form [formGroup]="loginform" (ngSubmit)="login()">

      <div class="form-group mb-3">
        <input type="email" class="form-control" formControlName="email" name="email">
        <label>Email Address</label>
      </div>

      <div class="form-group mb-3">
        <input type="password" class="form-control" formControlName="password" name="password">
        <label>Password</label>
      </div>

     <button type="submit" class="btn btn-login w-100">Login</button>

      <p class="text-center mt-3">
        Don’t have an account? <a href="#">Sign up</a>
      </p>

    </form>


  </div>

</div>