.addroom-wrapper{ 
    z-index: 11; 
    border: 1px solid #ddd; 
    padding: 15px;
     margin: 2rem; 
     border-radius: 10px;
     margin-top: 8rem;
         width: 96%;
    }
label{color: #ce1717 !important; line-height:35px; font-size: 15px;}
#msg{display: block; color: green;}
.bg_image{
    background-image: url("../../../../public/assets/img/room.webp");
    width: 100%; 
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat;     
   }
.error{color: #ce1717; padding:10px; font-size: large;}
.roomcenter{display: flex; align-items: center; justify-content: center; width: 60%; margin: 0 auto;}


body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

.booking-section{
display:flex;
height:100vh;
overflow:hidden;
}

/* Image Section */

.booking-image{
width:50%;
animation:slideLeft 1.2s ease;
}

.booking-image img{
width:100%;
height:100%;
object-fit:cover;
}

/* Form Section */

.booking-form{
width:50%;
display:flex;
flex-direction:column;
justify-content:center;
padding:60px;
background:white;
animation:slideRight 1.2s ease;
}

.booking-form h2{
margin-bottom:30px;
color:#333;
font-size:32px;
}

/* Input Fields */

.form-group{
position:relative;
margin-bottom:25px;
}

.form-group input,
.form-group select{
width:100%;
padding:10px;
border:none;
border-bottom:2px solid #ccc;
outline:none;
font-size:16px;
background:transparent;
}

.form-group label{
position:absolute;
left:0;
top:10px;
color:#777;
transition:0.3s;
pointer-events:none;
}

.form-group input:focus + label,
.form-group input:valid + label{
top:-12px;
font-size:12px;
color:#ff6600;
}

/* Button */

.book-btn{
padding: 7px 20px 7px 20px;
    border: none;
    background: #ff6600;
    color: white;
    font-size: 15px;
cursor:pointer;
border-radius:25px;
transition:0.4s;
}

.book-btn:hover{
background:#ff3300;
transform:scale(1.05);
}

/* Animations */

@keyframes slideLeft{
from{
opacity:0;
transform:translateX(-100px);
}
to{
opacity:1;
transform:translateX(0);
}
}

@keyframes slideRight{
from{
opacity:0;
transform:translateX(100px);
}
to{
opacity:1;
transform:translateX(0);
}
}

/* Responsive */

@media(max-width:768px){

.booking-section{
flex-direction:column;
}

.booking-image{
width:100%;
height:300px;
}

.booking-form{
width:100%;
}

}

