<footer class="footer bg-dark text-light pt-5 mt-5">

  <div class="container">
    <div class="row">

      <!-- Restaurant Info -->
      <div class="col-md-4 mb-4 animate-fade">
    
        <img src="assets/img/logostayease.png" width="100%"/>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 mb-4 animate-slide">
        <h5 class="footer-title">Quick Links</h5>
        <ul class="list-unstyled footer-links">
         <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/roomDetails">Rooms</a></li>
  <li><a routerLink="/Contact">Contact</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-md-4 mb-4 animate-fade">
        <h5 class="footer-title">Contact Us</h5>
        <p>📍 Mumbai, India</p>
        <p>📞 +91 98765 43210</p>
        <p>✉️ info@StayEase.com</p>
      </div>

    </div>

    <hr class="border-secondary">

    <div class="text-center pb-3">
      © 2026 StayEase Garden Restaurant | All Rights Reserved
    </div>
  </div>
  
</footer>
