

<header class="headerwrapper">  
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">

  <nav class="navbar">

  <div class="logo"> 
       <h2> StayEase </h2>
  </div>

  <ul class="nav-links" [class.active]="menuOpen">

  <!-- COMMON -->
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/roomDetails">Rooms</a></li>
  <li><a routerLink="/Contact">Contact</a></li>

  <!-- USER ONLY -->
  <li *ngIf="auth.getRole() === 'user'">
    <a routerLink="/addrooms">Book Your Room</a>
  </li>

  <!-- ADMIN ONLY -->
  <li *ngIf="auth.getRole() === 'admin'">
    <a routerLink="/addrooms">Add Rooms</a>
  </li>

   <!-- ADMIN ONLY -->
  <li *ngIf="auth.getRole() === 'admin'">
    <a routerLink="/Clentdetails">Clentdetails</a>
  </li>

  <li *ngIf="auth.getRole() === 'admin'">
    <a routerLink="/bookingList">Booking List</a>
  </li>
  
   <li>
    <span *ngIf="auth.isLoggedIn()" style="color: #ff6600;">
         Welcome, {{ auth.getUser()?.email }}
  </span>
  </li>

  <!-- LOGIN / LOGOUT -->
  <li *ngIf="!auth.isLoggedIn()">
    <button (click)="login()" class="btn btn-primary btn-sm">Login</button>
  </li>

  <li *ngIf="auth.isLoggedIn()">
    <button (click)="logout()" class="btn btn-danger btn-sm">Logout</button>
  </li>
 

</ul>
  
  <div class="hamburger" (click)="toggleMenu()">
      ☰
    </div>
</nav>
</div>
</nav>

</header>
