

<header>  
   <!-- <div class="header-top">
     <img src="assets/img/logo.png" alt="Logo">
  </div> -->
 

<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">  <img src="assets/img/logo.png" alt="Logo"> </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
    
        <a class="nav-link active" aria-current="page" href="#"> Home </a>
        <a class="nav-link" href="roomDetails"> roomDetails </a>
        <a class="nav-link" href="gallery"> Gallary </a>
        <a class="nav-link" href="addrooms"> Book Your Room </a>
        <a class="nav-link" href="bookingList"> Booking List </a>
        
        <a class="nav-link" href="Clentdetails"> Clentdetails </a>

        <a class="nav-link" href="billing"> Billings </a>


        <a class="nav-link" href="#" > <button  (click)="logout()" class="btn btn-primary btn-sm">Logout</button> </a>
       
      </div>
    </div>
  </div>
</nav>
   </header>
