.carousel-caption h3{color: #fff;}
.carousel-caption p{color: #fff;}

.carousel-indicators [data-bs-target]{
     width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    background-color: #ff6138 !important;
}
